build/*
# any build subdirectory in the tree
**/build/
examples/hello_gpu/build/*
examples/raymarch/build/*
docs/html
source
.DS_Store
third_party/lib/*
third_party/local/*

# formatter files
.cmake-format.py

# cmake build directories
out
build

# clangd files
.cache
compile_commands.json

